[run]
branch = True
source =
    progressbar
    tests
omit =
    */mock/*
    */nose/*
    .tox/*
[paths]
source =
    progressbar
[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    @abc.abstractmethod
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
