[run]
fail_under = 100
branch = True
source =
    progressbar
    tests
omit =
    */mock/*
    */nose/*
[paths]
source =
    progressbar
[report]
exclude_lines =
    pragma: no cover
    @abc.abstractmethod
