include AUTHORS.rst
include CHANGES.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include examples.py
include requirements.txt
include Makefile
include pytest.ini
recursive-include tests *
recursive-exclude *.pyc
recursive-exclude *.pyo
